$bp-light-cyan: rgb(240, 251, 255);
$bp-blue: rgb(38, 128, 224);
$bp-dark-blue: rgb(74, 74, 74);
$bp-gray: rgb(232, 232, 232);
$bp-orange: rgb(217, 84, 7);
$bp-green: #68b96c;
$bp-red: #c53127;
$bp-menu-gray: #c7c7c7;
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
